.App {
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-image: linear-gradient(rgb(177, 43, 43), rgb(85, 85, 85));
  background-repeat: no-repeat;
  border: 15px solid #000000;
  min-height: 100vh;
}

p,
h3 {
  line-height: 0.3rem;
}

button {
  width: 1.5rem;
  height: 1.5rem;
  margin: 2px;
  background-color: rgb(168, 168, 168);
  text-shadow: 0 0 5px white;
  border: 1px solid white;
  font-weight: 700;
  font-size: 0.8rem;
  box-shadow: 0 0 1px white;
}
button:hover {
  box-shadow: 0 0 15px white;
}
.board {
  display: flex;
  justify-content: center;
}
select {
  font-size: 0.9rem;
  margin-right: 1vw;
  box-shadow: 0 0 1px white;
}
.newGame {
  width: 7.5rem;
  border-radius: 1vw;
}
.hidden {
  visibility: hidden;
}
.gameNumberDisplayed {
  font-size: 0.3rem;
}
h1 {
  background-image: linear-gradient(rgb(0, 0, 0), Rgba(0, 0, 0, 0.5));
  color: red;
  margin: 0;
  padding: 1rem;
  text-shadow: 0 0 1px yellow;
}

.value-1 {
  color: red;
  background-color: rgb(168, 168, 168);
}
.value-2 {
  color: green;
  background-color: rgb(168, 168, 168);
}
.value-3 {
  color: blue;
  background-color: rgb(168, 168, 168);
}
.value-4 {
  color: orange;
  background-color: rgb(168, 168, 168);
}
.value-5 {
  color: brown;
  background-color: rgb(168, 168, 168);
}
.value-6 {
  color: chartreuse;
  background-color: rgb(168, 168, 168);
}
.value-7 {
  color: yellow;
  background-color: rgb(168, 168, 168);
}
.value-8 {
  color: teal;
  background-color: rgb(168, 168, 168);
}
.value-bomb {
  background-color: rgb(255, 0, 0);
  font-size: 0.5rem;
}
.value-flag {
  background-color: rgb(168, 168, 168);
  font-size: 0.5rem;
}
.value-flagCorrect {
  background-color: rgb(168, 168, 168);
  font-size: 0.7rem;
}
.value-covered {
  background-color: rgb(143, 142, 142);
}
